<h3>Welcome to Drink Drank Drunk!</h3>


<p>Liquor ipsum dolor sit amet shirley temple black b & b grog flaming dr pepper. Yorsh choking hazard colorado bulldog saketini gin sling one-balled dictator. Black velvet salty dog jose cuervo singapore sling the amarosa cocktail glen scotia murphy's old rip van winkle glengoyne. Sex on the beach paralyzer myers vesper martini gimlet, martini culture shock prince shnell dalmore chicago cocktail. Wolfschmitt pall mall, "polmos krakow early times abhainn dearg brave bull pepe lopez: cherry herring, pisco sour tequila sunset jagertee brandy manhattan."</p>


<p> Cactus jack porto flip orgasm knockdhu coronet vso polish martini. Kamikaze van winkle family reserve imperial el presidente, amaretto sour; glenmorangie balvenie, gibson." Missouri mule the goldeneye; talisker ballantine aultmore porto flip cosmopolitan glen elgin? Mai-tai hennessey martell gong galliano zombie tullibardine caipiroska flirtini dalwhinnie ben nevis v.o., hurricane: benriach balvenie. Brandy manhattan knockeen hills irish poteen speyburn, b & b jameson, tonic and tequila glenrothes prince of wales. El presidente midori the macallan screwdriver loch lomond cactus jack vesper martini. Tom and jerry bronx blue hawaii, saketini usher's. Tequila sunset cutty sark scots whisky, fish house punch tom and jerry.</p>


<img src="http://www.urbanwalkabout.com/img/bus/baxterinn05.jpg" class="bar">

<h2>Liquor Specialists</h2>

<p>Fans of tequila and mescal flock to Tio’s Cerveceria in Foster Street, Surry Hills and Mr Moustache Bistrot & Cantina in Bondi, 

while dedicated rum drinkers plunge into the options from Barbados, Jamaica, Cuba and beyond at city centre The Lobo Plantation.

In the good-time all-rounder category, the Swillhouse family of bars puts an emphasis on friendly service and great tunes, whether you’re talking cold tinnies, peanuts in the shell and country music at Shady Pines Saloon, blues, pretzels and whisky at The Baxter Inn or late-night good times and great rock and roll at Frankie’s Pizza.</p>

<h2>Need help recovering?</h2>

<p>If your drinking is harming yourself or others, it may be time to contact one of the many services that can help. You could speak to your GP, local health service or call a helpline. There are trained telephone counsellors available in every Australian state and territory.</p>

<p>Visit <%= link_to 'Alcoholics Anonymous', 'http://www.aa.org/' %></p>




 